<div>We have a new registration here:</div>
<div>More Details:</div>
<ul>
    <li>Name: <%= @user.name %></li>
    <li>Email: <%= @user.email %></li>
    <li>Website: <%= @user.website %></li>
    <li>Content : <%= @user.message %></li>
</ul>

